# Supabase Postgres - apuntar al schema "vacaciones"
DATABASE_URL=postgresql://postgres.xxx:PASSWORD@aws-0-region.pooler.supabase.com:5432/postgres?schema=vacaciones
PORT=3003
PERSONAL_URL=http://localhost:3001
