# Supabase Postgres - apuntar al schema "contratos"
DATABASE_URL=postgresql://postgres.xxx:PASSWORD@aws-0-region.pooler.supabase.com:5432/postgres?schema=contratos
PORT=3002
PERSONAL_URL=http://localhost:3001
