# Supabase Postgres - apuntar al schema "pagos"
DATABASE_URL=postgresql://postgres.xxx:PASSWORD@aws-0-region.pooler.supabase.com:5432/postgres?schema=pagos
PORT=3004
PERSONAL_URL=http://localhost:3001
